.App {
  position: relative;
  height: 100vh; /* Aseguramos que el contenido ocupe toda la altura */
  background-color: #f0f0f0; /* Color de fondo para el contenido */
  color: #333; /* Color de texto */
}